name: CI

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # Existing codes likely still have "master" as the primary branch
  # Both are tracked here to keep legacy and new codes working
  push:
    branches:
      - "main"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"


jobs:
  test:
    name: Run Stock Analysis Scripts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Additional info about the build
      shell: bash
      run: |
        uname -a
        df -h
        ulimit -a


    # More info on options: https://github.com/conda-incubator/setup-miniconda
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.8
        environment-file: env.yaml

        channels: conda-forge,defaults

        activate-environment: analysis
        auto-update-conda: false
        auto-activate-base: false
        show-channel-urls: true

    - name: Run Analysis

      # conda setup requires this special shell
      shell: bash -l {0}
      run: |
        export CLIENT_ID=${{ secrets.CLIENT_ID }} 
        export CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}
        export REDDIT_USERNAME=${{ secrets.REDDIT_USERNAME }}
        export REDDIT_PASSWORD=${{ secrets.REDDIT_PASSWORD }}
        python get_reddit_comments.py
        python create_overall.py
        python top_50.py

    - name: Commit data changes
      shell: bash -l {0}
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git checkout data
        cp *top50.csv website_data/
        git add .
        git commit -m "Update data for $(date)" -a || true
        # The above command will fail if no changes were present, so we ignore
        # the return code.

    - name: Push changes to this repo
      uses: ad-m/github-push-action@master
      with:
        branch: data
        github_token: ${{ secrets.GITHUB_TOKEN }}